.at-layout {
  min-height: 100vh;
}

.at-page-header {
  padding: 12px 24px;
}

.at-page-header span {
  color: white;
}

.at-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 48px;
}

.at-footer {
  background: #001529;
  color: white;
}
