.at-page-header {
  padding: 12px 24px;
}

.at-page-header span {
  color: white;
}

.at-table {
  width: 95%;
}

.at-layout {
  min-height: 100vh;
}

.at-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.at-footer {
  background: #001529;
  color: white;
}
